{% extends 'base.html' %} {% block content %}
<main class="container py-5">
  <section class="card card-body">
    <h1 class="display-1 text-center">Proyecto Control y Registro SIMUP</h1>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum ut illum
      eveniet consequatur dolorum quo totam accusantium suscipit velit.
      Veritatis dolores quia voluptates quod, modi sit ipsum expedita! Ab,
      magnam! Quibusdam, temporibus nostrum ipsa doloremque enim laudantium
      dicta necessitatibus illum! Dolor accusantium illo ratione doloribus
      officia rem tempore id harum reiciendis architecto, amet veniam mollitia
      minima nisi saepe eligendi nobis. Voluptates doloremque, recusandae
      obcaecati dolorem, nobis laborum rem mollitia odit itaque quia aspernatur
      quidem quos dicta voluptate vero suscipit incidunt modi. In dignissimos,
      ipsam pariatur consectetur deleniti accusantium quasi nihil! Optio sed
      libero totam deserunt tempora aspernatur, voluptatem repudiandae laborum
      esse fugiat voluptates dolore natus modi ullam sit sunt. Dolorum ipsum
      velit numquam! At iure officiis aperiam vel quaerat magni! Porro, neque
      nemo ratione fugit repellat earum voluptas laboriosam ducimus inventore
      repellendus ea natus necessitatibus voluptatum eligendi dolor deleniti
      tempora alias aliquid quae asperiores fuga dolores harum quas placeat?
      Numquam! Voluptates soluta quia blanditiis vel aliquid reprehenderit eum.
      Consequuntur culpa ipsam voluptate in repellat aperiam, harum cumque
      placeat rem, minus omnis, nostrum deserunt quas id et corrupti cupiditate
      maiores porro. Eum ut ab enim, blanditiis dolore minus mollitia laudantium
      molestiae? Accusamus voluptatibus animi iste, sequi ipsa quis harum
      commodi, dolor consequuntur nam cumque incidunt facilis, molestiae ullam
      similique voluptatum tempora. Similique soluta dolor rerum repellendus
      iste est odio architecto? Nobis, autem minima dignissimos eius suscipit
      voluptas ullam rerum, molestiae ducimus perferendis consequatur provident
      eum at laboriosam corporis deserunt! Dolorum, labore. Sapiente ad nisi
      commodi voluptas quod provident omnis numquam optio aliquid facilis
      tenetur laborum soluta aliquam, recusandae minus consectetur porro et, ea
      modi velit veniam eveniet eius voluptatem. Adipisci, iusto. Nihil itaque
      enim eius ad. Explicabo, eligendi sed! Et quod provident laudantium
      repellat itaque porro cum quaerat voluptatum suscipit harum! Vitae cum
      eveniet nesciunt aspernatur labore quod assumenda at non?
    </p>
    <div class="text-center">
      <a class="btn btn-primary" href="/signin/">Iniciar Sesion</a>
      <a class="btn btn-warning" href="/signup/">Registrar</a>
    </div>
  </section>
</main>
{% endblock %}
