{% extends 'base.html' %} {% block content %}
<main class="container py-5">
  <section class="card card-body">
    <h1 class="display-1 text-center">
      Aplicación Web para el control y registro de los estudiantes de la
      Universidad de Pamplona con el fin de permitir un análisis de la población
      estudiantil que hace uso del sistema de transporte para la dependencia de
      Bienestar Universitario en el servicio del autobús.
    </h1>
    <p></p>
    <div class="text-center">
      <a class="btn btn-primary" href="/signin/">Iniciar Sesion</a>
      <a class="btn btn-warning" href="/signup/">Registrar</a>
    </div>
  </section>
</main>
{% endblock %}
