{% extends 'base.html' %} {% block content %}
<main class="container mt-5">
  <div class="card">
    <!-- <img src="..." class="card-img-top" alt="..." /> -->
    <div class="card-body">
      <h5 class="card-title text-center">
        Bienvenido Al Sistema de Asistencias para el Transporte Universitario
      </h5>
      <p class="card-text">
        Esta aplicación le permitirá a los estudiantes y personal de la
        Universidad de Pamplona registrarse y tomar el registro de asistencia
        del servicio para así permitir un control apto del uso, alcance e
        impacto que tiene en nuestra comunidad estudiantil.
      </p>
      <a href="/tasks/create/" class="btn btn-primary">Registrar Asistencia</a>
    </div>
  </div>
</main>
{% endblock %}
